body{
    background: #cdcbcb;   
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.bl-background{
    box-sizing: border-box;
    width: 100%;    
    margin: auto;
    margin-top: 100px;
    min-width: 900px;  
    max-width: 1070px;  
    
}
.bl-bought{
    box-sizing: border-box;
    display: block;
    height: 100%;
    background-color: white;
    width: 285px;
    float: right;
    padding: 5px;
    border-radius: 5px;
}
.bl-list{
     height: 215px;
    background-color: white;
     border-radius: 5px;
    margin-right: 325px;
}

.bl-product, .bl-count, .bl-buttons{
    display: inline-block;
    border: line;
    border-color: brown;
   
}
.bl-product{    
    padding-left: 12px;
    width: 23%;
    height: 25px;
    text-decoration: none;
}
.bl-count{
    width: 50%;
     height: 25px;
    text-align: center;
    border: 0px;
}
.bl-buttons{
     width: 22%;
     height: 25px;
    text-align: right; 
}

.add{
    display: inline;
}
.bl-products-rest, .bl-product-bought{
    height: 30px;
}
.bl-holder-product-rest, .bl-holder-product-bought{
    box-sizing: border-box;
    background: white;
    height: 100%;
}
.bl-products-rest, .bl-product-bought{
    height: 23px;
    padding-left: 10px;
}
.add-product{
     text-align: center;
    height: 33px;
    padding-top:15px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;    
}
.product-input{
    width: 80%;
    height: 32px;
    border-radius: 5px;
    padding-left: 10px;
}
.bl-button-add{
    background: blue;
    color: white;
    font-family: inherit;
    font-weight: bold;
    width: 15%;  
    height: 38px;
    margin-left: -8px;
    border-radius: 0 5px 5px 0;
    border:0;
}
hr{
    width: 100%;
}
.bl-minus, .bl-label, .bl-plus{
    display: inline-block;
}
.bl-minus{
    background-color: indianred;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    border: 0;
    height: 31px;
    width: 32px;
    opacity: .7;
}
.bl-label{
    background: #cdcbcb;
    font-size: 12px;
    border-radius: 5px;
     height: 20px;
    width: 25px;
   padding-top: 5px;
    }
.bl-plus{
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50%;
    border: 0;
    height: 31px;
    width: 32px;
        
}
.bl-buttonBought{
     
    font-size: 11px;
    border-radius: 5px;
    border: 0;
    height: 33px;
    width: 80px;
    padding: 10px;
    
}
.bl-buttonDelete{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 11px;
    border-radius: 5px;
    border: 0;
    height: 31px;
    width: 32px;
}

.bl-product-rest, .bl-label-rest{
    display: inline-block;
    margin-top: 3px;    
}
.bl-holder-product-rest, .bl-holder-product-bought{
    margin-left: 3px;
    padding: 5px;
}

.bl-product-rest{
   background: #cdcbcb;
    font-size: 10px;
    border-radius: 5px;
     height: 20px;
    /*width: 75px;*/
   /* padding: 2px; */
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 4px;
    padding-top: 3px;
  text-align: center;
   
}
.bl-label-rest{
     background-color: orange;
    color: white;
    font-size: 9px;
    border-radius: 70%;
    height: 14px;
    width: 17px;
    text-align: center;
    padding-top: 3px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 0;
}
.badge{
    position: fixed;
    background-color: blueviolet;
    color: white;
    border-radius: 7px 7px 0 0;
    height: 60px;
    width: 90px;
    bottom: -44px;
    left: 18px;   
    padding: 20px; 
    transition: all 500ms ease;
}
.badge:hover{
    background-color: blue;
     bottom: 0px;
}
.badge-title{
font-family: inherit;
font-weight: 500;
font-size: 19px;    
 padding-bottom: 16px;
}
.badge-body-preauthor{
   font-size: 11px; 
}
button{
    position: relative;
}
 button::before
  {
   content: attr(data-tooltip);
   position: absolute;
   font-size: 8px;
   top: -29px;
   left: -27px;
   right: -27px;
   border-radius: 5px;
   padding: 8px;
   color: white;
   background-color: blueviolet;
      transform: scale(0.5) translateY(20px);
    transition: all 350ms ease;
      opacity:0;
      
  }
button:hover::before
  {
      opacity:1;
      display: block;
      transform: scale(1) translateY(0px);
}
@media print{
    .badge-body-preauthor, .badge-body-author{
        color: black;
    }
    .badge{
        bottom: 0;
        color:black;
        border: 1px solid black; 
        height: 27px;
    }
     .badge-title{
        display: none;
    }
    
}
@media	(max-width:	500px)	{
    .bl-list, .bl-bought{
        float: none;
        width: 100%;
        border: 1px solid black; 
        margin: 5px;        
    }     
}
.bl-row-template{   
    width:100%;
    display: none;
}
.state-active{
    opacity: 1;
}
.state-bought{
    opacity: .7;
}
.state-bought-product{
    text-decoration: line-through;
}
.obvertka{
    display:inline;
}
.box-for-rest-product{
       display: none;
}
.bl-product-rest{
    margin-right: 3px;
}